.standings,
.standings-popup
{
  cursor: pointer;
}
.standings-popup rect
{
  stroke: #888;
}

rect {
	color: white;
}

rect.wswinner {
	fill: #FC1800; /*red*/
}

rect.wsloser {
	fill: #CA0072;
}

rect.nlcsloser, rect.alcsloser {
	fill: #37186B;
}

rect.ldsloser {
	fill: #502AD3;
}

rect.wcloser {
    fill: #7D6ABF;
}

rect.dna {
	fill: #AAAAAA;
}

text {
	fill: white;
    font-size: .75em;
    dominant-baseline: central;   
}

text.year
{
  fill: black;
}

text.wcloser,
text.wswinner.place2nd, text.wswinner.place3rd, 
text.wsloser.place2nd, text.wsloser.place3rd, 
text.nlcsloser.place2nd, text.nlcsloser.place3rd, 
text.alcsloser.place2nd, text.alcsloser.place3rd,
text.ldsloser.place2nd, text.ldsloser.place3rd
{
    font-style: italic;
}

foreignObject {
    position: absolute;
}

foreignObject.leftarrow { 
    padding-left: 10px;
}

foreignObject.rightarrow { 
    padding-right: 10px;
}

.standings-tooltip {           
    font-size: .9em;
    background: #fcf4dc; 
    border: 0px;        
    pointer-events: none;
    padding: .5em;
    color: #000000;
    line-height: .9em;
    position: relative;
}

.standings-tooltip h2 {
    font-size: .9em;
    margin-left: 65px;
    
}

.standings-tooltip h3 {
    font-size: .75em;
    margin-left: 65px;
}

.standings-tooltip p {
    font-size: .7em;
    margin-left: 65px;
    margin-bottom: 0px;
}

.standings-tooltip img {
    display: block;
    float: left;
}

.standings-tooltip.leftarrow:after {
    right: 100%;
    top: 27px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(252, 244, 220, 0);
    border-right-color: #FCF4DC;
    border-width: 8px;
    margin-top: -10px;
}

.standings-tooltip.rightarrow:after {
    left: 100%;
    top: 27px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(252, 244, 220, 0);
    border-left-color: #FCF4DC;
    border-width: 10px;
    margin-top: -10px;
}

.introduction {
    width: 600px;
    float: left;
}

.legend {
    margin-left: 675px;
}

.legend-text {
    fill: black;
}
