rect {
	color: white;
}

.wswinner {
	fill: red;
}

.wsloser {
	fill: purple;
}

.ldsloser {
	fill: gray;
}

.nlcsloser, .alcsloser {
	fill: gray;
}

.wcloser {
    fill: yellow;
}

.dna {
	fill: blue;
}

text {
	fill: white;
    font-size: .75em;
    dominant-baseline: central;
}