rect {
	color: white;
}

rect.wswinner {
	fill: #FC1800; /*red*/
}

rect.wsloser {
	fill: #CA0072;
}

rect.nlcsloser, rect.alcsloser {
	fill: #37186B;
}

rect.ldsloser {
	fill: #502AD3;
}

rect.wcloser {
    fill: #7D6ABF;
}

rect.dna {
	fill: #AAAAAA;
}

text {
	fill: white;
    font-size: .75em;
    dominant-baseline: central;
}